@model DKKD.MODELS.SanPham
<div id="frmUpdate" class="form-horizontal" style="height:450px;overflow:auto">
    <input type="hidden" value="@Model.ID" id="hdId" />
    <input type="hidden" value="@Model.MaDM" id="hdMaDM" />
    <input type="hidden" value="@Model.MaNCC" id="hdMaNCC" />
    <div class="form-group">
        <div class="row">
            <label class="col-md-4" required>Danh mục</label>
            <div class="col-md-8">
                <select class="form-control show-tick select2-blue" name="danhmuc" id="sldm">
                    <option value="">-- Chọn danh mục --</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-md-4" required>Nhà cung cấp</label>
            <div class="col-md-8">
                <select class="form-control show-tick select2-blue" name="nhacungcap" id="slncc">
                    <option value="">-- Chọn nhà cung cấp --</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-md-4" required>Tên sản phẩm</label>
            <div class="col-md-8">
                <input type="text" required class="form-control" id="txtName" placeholder="Tên sản phẩm" value="@Model.TenSP">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-md-4" required>Giới thiệu</label>
            <div class="col-md-8">
                <textarea rows="5" type="text" class="form-control" id="txtGT" placeholder="Giới thiệu">@Model.GioiThieu</textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-md-4" required>Mô tả</label>
            <div class="col-md-8">
                <textarea rows="5" type="text" class="form-control" id="txtMota" placeholder="Mô tả">@Model.MoTa</textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-md-4" required>Số lượng</label>
            <div class="col-md-8">
                <input type="number" required class="form-control" id="txtSL" placeholder="Số lượng" value="@Model.SoLuong">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-md-4" required>Đơn giá</label>
            <div class="col-md-8">
                <input type="number" required class="form-control" id="txtDG" placeholder="Đơn giá" value="@Model.DonGia">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-md-4" required>Khuyến mãi(%)</label>
            <div class="col-md-8">
                <input type="number" required class="form-control" id="txtSale" placeholder="Khuyến mãi" value="@Model.Sale">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label id="lbAnhDaiDien" class="col-md-4 col-form-label">Ảnh đại diện</label>
            <div class="col-md-8">
                <div class="col-md-12">
                    <img src="@Model.Avatar" id="imgAdd" style="width:50%;height:50%" class="lightbox-image" alt="@Model.TenSP" />
                </div>
                <div class="col-md-12">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" accept="image/*" name="files" id="fileAnhDD">
                            <label class="custom-file-label" for="fileAnhDD">Chọn file</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <label class="col-md-4">Kích hoạt</label>
            <div class="col-md-8">
                <input id="ckbStatus" type="checkbox" class="custom-control" value="@Model.TrangThai">
            </div>
        </div>
    </div>
</div>

<script>
    var frmUpdate = $('#frmUpdate');
    var dm = $("#hdMaDM").val();
    var ncc = $("#hdMaNCC").val();
    $(document).ready(function () {
        addRequired(frmUpdate);
        bsCustomFileInput.init();
        setStatus();
        getDMUpdate();
        getNCCUpdate();

    });
    //$('#modal-form').find('.modal-dialog').addClass("modal-lg")
    $('#modal-form').find('#btnSave').off("click").on('click', function (e) {
        e.preventDefault();
        update();
    });
    function setStatus() {
        if (frmUpdate.find('#ckbStatus').val() == 1) {
            frmUpdate.find('#ckbStatus').prop('checked', true);
        }
    }
    function update() {
        if (ValidateForm(frmUpdate)) {
            return;

        }

        var fileUpload = frmUpdate.find('#fileAnhDD').get(0);
        if (fileUpload.files.length == 0) {
            var fileData = new FormData();
            var Obj = {
                ID: frmUpdate.find('#hdId').val(),
                Avatar: frmUpdate.find('#imgAdd').attr("src"),
                TenSP: frmUpdate.find('#txtName').val(),
                GioiThieu: frmUpdate.find('#txtGT').val(),
                MoTa: frmUpdate.find('#txtMota').val(),
                SoLuong: frmUpdate.find('#txtSL').val(),
                DonGia: frmUpdate.find('#txtDG').val(),
                Sale: frmUpdate.find('#txtSale').val(),
                MaDM: frmUpdate.find('#sldm').val(),
                MaNCC: frmUpdate.find('#slncc').val(),
                TrangThai: frmUpdate.find('#ckbStatus').prop("checked") ? 1 : 2
            }
            fileData.append('NCCArr', JSON.stringify(Obj));
            $.ajax({
                url: url + "/update",
                method: "POST",
                data: fileData,
                processData: false,
                contentType: false
                , success: function (response) {
                    hideLoading()
                    if (response.result) {
                        showAlert(response.message, 2)
                        getData("", -1);
                        hideContentModal()
                    } else {
                        showAlert(response.message)
                    }
                }
            });
        }
        else {
            var filePath = fileUpload.value; //validation file

            var allowedExtensions =
                /(\.jpg|\.jpeg|\.png|\.gif|\tiff|\raw|\psd)$/i;
            if (!allowedExtensions.exec(filePath)) {
                showAlert('Không đúng định dạng ảnh');
                fileUpload.value = '';
                return false;
            }
            else {
                showLoading()
                var files = fileUpload.files;
                var fileData = new FormData();
                var Obj = {
                    ID: frmUpdate.find('#hdId').val(),
                    TenSP: frmUpdate.find('#txtName').val(),
                    GioiThieu: frmUpdate.find('#txtGT').val(),
                    MoTa: frmUpdate.find('#txtMota').val(),
                    SoLuong: frmUpdate.find('#txtSL').val(),
                    DonGia: frmUpdate.find('#txtDG').val(),
                    Sale: frmUpdate.find('#txtSale').val(),
                    MaDM: frmUpdate.find('#sldm').val(),
                    MaNCC: frmUpdate.find('#slncc').val(),
                    TrangThai: frmUpdate.find('#ckbStatus').prop("checked") ? 1 : 2

                }
                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append("files", files[i]);
                    fileData.append('NCCArr', JSON.stringify(Obj));
                }

                $.ajax({
                    url: url + "/update",
                    method: "POST",
                    data: fileData,
                    processData: false,
                    contentType: false
                    , success: function (response) {
                        hideLoading()
                        if (response.result) {
                            showAlert(response.message, 2)
                            getData("", -1);
                            hideContentModal()
                        } else {
                            showAlert(response.message)
                        }
                    }
                });
            }


        }
    }
    function getDMUpdate() {
        var cbDMUpdate = frmUpdate.find("#sldm");
        $.ajax({
            url: url + "/get-dm",
            method: "GET"
            , success: function (response) {
                $.each(response.data, function (i, itemMenu) {
                    if (i >= 0) {
                        if (itemMenu.id == dm) {
                            var newOption = new Option(itemMenu.tenDM, itemMenu.id, false, true);
                            cbDMUpdate.append(newOption);
                        }
                        else {
                            var newOption = new Option(itemMenu.tenDM, itemMenu.id);
                            cbDMUpdate.append(newOption);
                        }
                    }
                })
            }
        });
    }
    function getNCCUpdate() {
        var cbNCCUpdate = frmUpdate.find("#slncc");
        $.ajax({
            url: url + "/get-ncc",
            method: "GET"
            , success: function (response) {
                $.each(response.data, function (i, itemMenu) {
                    if (i >= 0) {
                        if (itemMenu.id == ncc) {
                            var newOption = new Option(itemMenu.tenNCC, itemMenu.id, false, true);
                            cbNCCUpdate.append(newOption);
                        }
                        else {
                            var newOption = new Option(itemMenu.tenNCC, itemMenu.id);
                            cbNCCUpdate.append(newOption);
                        }
                    }
                })
            }
        });
    }
</script>
