@using DKKD.MODELS;
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Configuration;
@inject IHttpContextAccessor HttpContextAccessor
@inject IConfiguration _config
@{
    var lsth = ViewData["lsth"] as List<NhaCungCap>;
    var lsspnew = ViewData["lsspnew"] as List<SanPham>;
    var lsspsale = ViewData["lsspsale"] as List<SanPham>;
    var lssphot = ViewData["lssphot"] as List<SanPham>;
    var domain = _config["CMSDomain"].ToString();
}
<!-- mobile showcase -->
<div style="height:60px"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-head">
                    <h3 class="head-title">Thương hiệu</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="product-carousel">
        <div class="box-body">
            <div class="row">
                <div class="owl-carousel owl-two owl-theme">
                    @foreach (var item in lsth)
                    {
                        <!-- product -->
                        <div class="item">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="/danh-sach-san-pham?name=&idth=@item.ID&iddm=-1">
                                    @{
                                        var y = domain + item.Logo;
                                    }
                                    <img src="@y" alt="@item.TenNCC">
                                </a>
                            </div>
                            <!-- /.product -->
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.mobile showcase -->
<!-- latest products -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-head">
                    <h3 class="head-title">Sản phẩm mới</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="product-carousel">
        <div class="box-body">
            <div class="row">
                <div class="owl-carousel owl-two owl-theme">
                    <!-- product -->
                    @foreach (var item in lsspnew)
                    {
                        <div class="item">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="hidden" value="1" class="soluong" />
                                <div class="product-block">
                                    <div class="product-img" onclick="ChiTiet(@item.ID)">
                                        @{
                                            var y = domain + item.Avatar;
                                        }
                                        <img src="@y" alt="@item.TenSP">
                                    </div>
                                    <div class="product-content">
                                        <h5 onclick="ChiTiet(@item.ID)" style="height:40px"><a href="#" class="product-title">@item.TenSP</a></h5>
                                        <div class="product-meta">
                                            @{
                                                int dongia = (int)item.DonGia;
                                                string dg = String.Format("{0:0,00}", dongia);
                                                float sale = ((float)(100 - item.Sale) / 100);
                                                float a = (float)(item.DonGia * sale);
                                                string A = String.Format("{0:0,00}", a);

                                            }
                                            <div class="row form-group">
                                                <span class="product-price">@A₫</span>
                                                <span class="discounted-price">@dg₫</span>
                                            </div>
                                            <div class="col-lg-12" style="text-align:center">
                                                <span class="offer-price">@item.Sale%off</span>
                                            </div>
                                        </div>
                                        <div class="shopping-btn">
                                            <a href="#" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                            <button type="button" class="product-btn btn-cart" data-id="@item.ID"><i class="fa fa-shopping-cart"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- /.product -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.latest products -->
<!-- seller products -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-head">
                    <h3 class="head-title">Sản phẩm bán chạy</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="product-carousel">
        <div class="box-body">
            <div class="row">
                <div class="owl-carousel owl-two owl-theme">
                    <!-- product -->
                    @foreach (var item in lssphot)
                    {
                        <div class="item">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="hidden" value="1" class="soluong" />
                                <div class="product-block">
                                    <div class="product-img" onclick="ChiTiet(@item.ID)">
                                        @{
                                            var y = domain + item.Avatar;
                                        }
                                        <img src="@y" alt="@item.TenSP">
                                    </div>
                                    <div class="product-content">
                                        <h5 onclick="ChiTiet(@item.ID)" style="height:40px"><a href="#" class="product-title">@item.TenSP</a></h5>
                                        <div class="product-meta">
                                            @{
                                                int dongia = (int)item.DonGia;
                                                string dg = String.Format("{0:0,00}", dongia);
                                                float sale = ((float)(100 - item.Sale) / 100);
                                                float a = (float)(item.DonGia * sale);
                                                string A = String.Format("{0:0,00}", a);

                                            }
                                            <div class="row form-group">
                                                <span class="product-price">@A₫</span>
                                                <span class="discounted-price">@dg₫</span>
                                            </div>
                                            <div class="col-lg-12" style="text-align:center">
                                                <span class="offer-price">@item.Sale%off</span>
                                            </div>
                                        </div>
                                        <div class="shopping-btn">
                                            <a href="#" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                            <button type="button" class="product-btn btn-cart" data-id="@item.ID"><i class="fa fa-shopping-cart"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- /.product -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.seller products -->
<!-- featured products -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-head">
                    <h3 class="head-title">Sản phẩm khuyến mại</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="product-carousel">
        <div class="box-body">
            <div class="row">
                <div class="owl-carousel owl-two owl-theme">
                    <!-- product -->
                    @foreach (var item in lsspsale)
                    {
                        <div class="item">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="hidden" value="1" class="soluong" />
                                <div class="product-block">
                                    <div class="product-img" onclick="ChiTiet(@item.ID)">
                                        @{
                                            var y = domain + item.Avatar;
                                        }
                                        <img src="@y" alt="@item.TenSP">
                                    </div>
                                    <div class="product-content">
                                        <h5 onclick="ChiTiet(@item.ID)" style="height:40px"><a href="#" class="product-title">@item.TenSP</a></h5>
                                        <div class="product-meta">
                                            @{
                                                int dongia = (int)item.DonGia;
                                                string dg = String.Format("{0:0,00}", dongia);
                                                float sale = ((float)(100 - item.Sale) / 100);
                                                float a = (float)(item.DonGia * sale);
                                                string A = String.Format("{0:0,00}", a);

                                            }
                                            <div class="row form-group">
                                                <span class="product-price">@A₫</span>
                                                <span class="discounted-price">@dg₫</span>
                                            </div>
                                            <div class="col-lg-12" style="text-align:center">
                                                <span class="offer-price">@item.Sale%off</span>
                                            </div>
                                        </div>
                                        <div class="shopping-btn">
                                            <a href="#" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                            <button type="button" class="product-btn btn-cart" data-id="@item.ID"><i class="fa fa-shopping-cart"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- /.product -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.featured products -->
<!-- features -->
<div class="bg-default pdt40 pdb40">
    <div class="container">
        <div class="row">
            <!-- features -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="feature-left">
                    <div class="feature-outline-icon">
                        <i class="fa fa-credit-card"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="text-white">Safe Payment</h3>
                        <p>Praesent orci dolor, pretium vitae hendrerit convallisutes orcgravida bibendum.</p>
                    </div>
                </div>
            </div>
            <!-- features -->
            <!-- features -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="feature-left">
                    <div class="feature-outline-icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="text-white">24/7 Help Center</h3>
                        <p>Aliquam molestie urnased one pharetra vestibulum Interdum et malesuada fames.</p>
                    </div>
                </div>
            </div>
            <!-- features -->
            <!-- features -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="feature-left feature-circle">
                    <div class="feature-outline-icon">
                        <i class="fa fa-rotate-left "></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="text-white">Free &amp; Easy Return</h3>
                        <p>Vivamus semper nisnesbla accumsan dui justo esw finibus turpis serom.</p>
                    </div>
                </div>
            </div>
            <!-- features -->
            <!-- features -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="feature-left">
                    <div class="feature-outline-icon">
                        <i class="fa fa-dollar"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="text-white">Great Value</h3>
                        <p>Morbi necmi turpiulm tristiq ueipsm inodiopharetr amal esuat erdumetalesuada.</p>
                    </div>
                </div>
            </div>
            <!-- features -->
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".btn-cart").on("click", function () {
            $.ajax({
                url: "/Cart/AddToCart",
                method: "POST",
                data: {
                    id: $(this).data("id"),
                    sl: $(".soluong").val(),
                },
                success: function (data) {
                    $(".a").html("");
                    $(".a").html('<sup class="cart-quantity">' + data.soluong + '</sup>');
                    showAlert("Thêm mới thành công", 2);
                },
                error: function (data) {
                    showAlert("Thêm mới thất bại");
                }
            })
        })
    })
    function ChiTiet(id) {
        $(location).attr('href', `/chi-tiet-san-pham/?id=${id}`)
    }
</script>
